<section class="contact-header vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <h1 class="display-1">Contact <span>Us</span></h1>
                <div class="d-flex justify-content-center align-items-center">
                    <a routerLink="/home" class="mx-1"><span>Home </span></a>
                    <p class="m-0"> | Conatact</p>
                </div>
                <i class="fa-solid fa-angles-down d-block"></i>
            </div>
        </div>
    </div>
</section>
<section class="contact-form py-5">
    <div class="container py-5">
        <div class="row">
            <h5 class="mb-4">Contact Form</h5>
            <div class="col-md-8">
                <div class="form border rounded p-4">
                    <form action="">
                        <div class="row mb-4">
                            <div class="col-sm-6 px-2">
                                <input type="text" name="" id="" placeholder="Enter Your Name *"
                                    class="w-100 form-control px-3">
                            </div>
                            <div class="col-sm-6 px-2">
                                <input type="email" name="" id="" placeholder="Enter Your Email *"
                                    class="w-100 form-control px-3">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 px-2">
                                <input type="text" name="" id="" placeholder="Subject *" class="w-100 form-control  px-3">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 px-2">
                                <textarea name="" id="" cols="30" rows="6" placeholder="Type Your Message *"
                                    class="w-100 form-control" maxlength="20"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-main-solid">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <h5 class="mb-3">Information</h5>
                    <div class="card rounded-0 p-3">
                        <p class="border-bottom pb-3 text-secondary"><span class="text-light">Find solutions :</span> to common problems, or get help from a support agent industry's standard.</p>
                        <div class="item d-flex align-items-center border-bottom pb-3 mb-3">
                            <div class="icon d-flex align-items-center justify-content-center rounded-circle me-2">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <p class="m-0 text-secondary"><span class="text-light">Address :</span> W38 Park Road New York</p>
                        </div>
                        <div class="item d-flex align-items-center border-bottom pb-3 mb-3">
                            <div class="icon d-flex align-items-center justify-content-center rounded-circle me-2">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <p class="m-0 text-secondary"><span class="text-light">Phone : </span>(09) 123 854 365</p>
                        </div>
                        <div class="item d-flex align-items-center border-bottom pb-3 mb-3">
                            <div class="icon d-flex align-items-center justify-content-center rounded-circle me-2">
                                <i class="fa-regular fa-envelope-open"></i>
                            </div>
                            <p class="m-0 text-secondary"><span class="text-light">Email : </span>support@movflx.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>