<section class="py-5">
    <div class="container py-5">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="./assets/services_img.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-6 offset-1">
                <span class="tv-span mx-5 position-relative d-flex align-items-center">our services</span>
                <h2 class="display-4">Download Your Shows Watch Offline.</h2>
                <p>Lorem ipsum dolor sit amet, consecetur adipiscing elseddo eiusmod tempor.There are many variations of
                    passages of lorem Ipsum available, but the majority have suffered alteration in some injected
                    humour.</p>
                <div class="icons my-5">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-display"></i>
                            </div>
                        </div>
                        <div class="col-9 p-0">
                            <h5>Enjoy on Your TV.</h5>
                            <p>Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                    <div class="hr my-4 w-100"></div>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-video"></i>
                            </div>
                        </div>
                        <div class="col-9 p-0">
                            <h5>Watch Everywhere..</h5>
                            <p>Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>