<section class="blog-header vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <h1 class="display-1"><span>Our</span> Blogs</h1>
                <div class="d-flex justify-content-center align-items-center">
                    <a routerLink="/home" class="mx-1"><span>Home </span></a>
                    <p class="m-0"> | Blogs</p>
                </div>
                <i class="fa-solid fa-angles-down d-block mt-2"></i>
            </div>
        </div>
    </div>
</section>
<section class="content py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 p-3">
                <div class="blog-item mb-5">
                    <img src="./assets/blog_thumb02.jpg" class="w-100 mb-3" alt="Can't load Image!">
                    <div class="body p-4">
                        <span class="d-flex align-items-center mb-2"><i class="fa-solid fa-clock me-2"></i>
                            <p class="m-0 text-secondary">August 8, 2022</p>
                        </span>
                        <h3><a class="text-light" routerLink="/movies">Your Free Movie Streaming Purposes</a></h3>
                        <p class="text-secondary mb-3">Lorem Ipsum is simply dummy text of the printing and typetting
                            industry. Lorem Ipsum has been
                            the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuies, but also the leap into […]</p>
                        <div class="hr mt-5 mb-4"></div>
                        <div class="bottom d-flex align-items-center justify-content-between">
                            <ul class="list-unstyled d-flex align-items-center mb-0">
                                <li class="me-4"><span class="fa-regular fa-user"></span>
                                    <a class="text-light ms-2 cursor-pointer">Admin</a>
                                </li>
                                <li class="me-4"><span class="fa-regular fa-bookmark"></span>
                                    <a class="text-light ms-2 cursor-pointer">ِAction Movies, </a>
                                    <a class="text-light ms-2 cursor-pointer">Horror</a>
                                </li>
                                <li class="me-4"><span class="fa-regular fa-comments"></span><a
                                        class="text-light ms-2 cursor-pointer">No Comments</a></li>
                            </ul>

                            <span class="cursor-pointer">Read More >></span>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <img src="./assets/blog_thumb01.jpg" class="w-100 mb-3" alt="Can't load Image!">
                    <div class="body p-4">
                        <span class="d-flex align-items-center mb-2"><i class="fa-solid fa-clock me-2"></i>
                            <p class="m-0 text-secondary">August 8, 2022</p>
                        </span>
                        <h3><a class="text-light" routerLink="/movies">Automatically transcribe movie video</a></h3>
                        <p class="text-secondary mb-3">Lorem Ipsum is simply dummy text of the printing and typetting
                            industry. Lorem Ipsum has been
                            the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuies, but also the leap into […]</p>
                        <div class="hr mt-5 mb-4"></div>
                        <div class="bottom d-flex align-items-center justify-content-between">
                            <ul class="list-unstyled d-flex align-items-center mb-0">
                                <li class="me-4"><span class="fa-regular fa-user"></span>
                                    <a class="text-light ms-2 cursor-pointer">Admin</a>
                                </li>
                                <li class="me-4"><span class="fa-regular fa-bookmark"></span>
                                    <a class="text-light ms-2 cursor-pointer">ِAction Movies, </a>
                                    <a class="text-light ms-2 cursor-pointer">Horror</a>
                                </li>
                                <li class="me-4"><span class="fa-regular fa-comments"></span><a
                                        class="text-light ms-2 cursor-pointer">No Comments</a></li>
                            </ul>

                            <span class="cursor-pointer">Read More >></span>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <img src="./assets/blog_thumb06.jpg" class="w-100 mb-3" alt="Can't load Image!">
                    <div class="body p-4">
                        <span class="d-flex align-items-center mb-2"><i class="fa-solid fa-clock me-2"></i>
                            <p class="m-0 text-secondary">August 8, 2022</p>
                        </span>
                        <h3><a class="text-light" routerLink="/movies">Where watch English movies free?</a></h3>
                        <p class="text-secondary mb-3">Lorem Ipsum is simply dummy text of the printing and typetting
                            industry. Lorem Ipsum has been
                            the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuies, but also the leap into […]</p>
                        <div class="hr mt-5 mb-4"></div>
                        <div class="bottom d-flex align-items-center justify-content-between">
                            <ul class="list-unstyled d-flex align-items-center mb-0">
                                <li class="me-4"><span class="fa-regular fa-user"></span>
                                    <a class="text-light ms-2 cursor-pointer">Admin</a>
                                </li>
                                <li class="me-4"><span class="fa-regular fa-bookmark"></span>
                                    <a class="text-light ms-2 cursor-pointer">ِAction Movies, </a>
                                    <a class="text-light ms-2 cursor-pointer">Horror</a>
                                </li>
                                <li class="me-4"><span class="fa-regular fa-comments"></span><a
                                        class="text-light ms-2 cursor-pointer">No Comments</a></li>
                            </ul>

                            <span class="cursor-pointer">Read More >></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="side-box p-4 mb-4">
                    <h5 class="position-relative">Search Objects</h5>
                    <div class="input-box position-relative mt-5">
                        <input type="text" placeholder="Search" class="px-3 py-2">
                        <button class="position-absolute"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="side-box p-4 mb-4">
                    <h5 class="position-relative">Categories</h5>
                    <div class="row justify-content-between mt-5">
                        <div class="col-md-5 mb-3">
                            <a href="#">Action Movies</a>
                        </div>
                        <div class="col-md-3">
                            <p class="ms-auto text-secondary">(5)</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 mb-3">
                            <a href="#">Download</a>
                        </div>
                        <div class="col-md-3">
                            <p class="ms-auto text-secondary">(3)</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 mb-3">
                            <a href="#">Horror</a>
                        </div>
                        <div class="col-md-3">
                            <p class="ms-auto text-secondary">(5)</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 mb-3">
                            <a href="#">Movies</a>
                        </div>
                        <div class="col-md-3">
                            <p class="ms-auto text-secondary">(4)</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 mb-3">
                            <a href="#">Streaming</a>
                        </div>
                        <div class="col-md-3">
                            <p class="ms-auto text-secondary">(4)</p>
                        </div>
                    </div>
                </div>
                <div class="side-box p-4 mb-4">
                    <h5 class="position-relative">Recent Posts</h5>
                    <div class="row mt-5 px-2">
                        <div class="col-md-5 rounded-1 p-0 overflow-hidden mb-3">
                            <a href="#"><img src="./assets/blog_thumb02.jpg" class="w-100" alt=""></a>
                        </div>
                        <div class="col-md-7">
                            <a href="#" class="text-light">Where watch English movies free?</a>
                            <div class="m-0 d-flex align-items-center small"><span class="mx-1"><i
                                        class="fa-solid fa-clock"></i></span>
                                <p class="m-0">August 08, 2022</p>
                            </div>
                        </div>
                        <div class="col-md-5 rounded-1 p-0 overflow-hidden mb-3">
                            <a href="#"><img src="./assets/blog_thumb01.jpg" class="w-100" alt=""></a>
                        </div>
                        <div class="col-md-7">
                            <a href="#" class="text-light">Your Free Movie Streaming Purposes</a>
                            <div class="m-0 d-flex align-items-center small"><span class="mx-1"><i
                                        class="fa-solid fa-clock"></i></span>
                                <p class="m-0">August 08, 2022</p>
                            </div>
                        </div>
                        <div class="col-md-5 rounded-1 p-0 overflow-hidden mb-3">
                            <a href="#"><img src="./assets/blog_thumb06.jpg" class="w-100" alt=""></a>
                        </div>
                        <div class="col-md-7">
                            <a href="#" class="text-light">Automatically transcribe movie video</a>
                            <div class="m-0 d-flex align-items-center small"><span class="mx-1"><i
                                        class="fa-solid fa-clock"></i></span>
                                <p class="m-0">August 08, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-box p-4 mb-4">
                    <h5 class="position-relative">Tag Cloud</h5>

                    <div class="cards mt-5 cursor-pointer">
                        <div class="card rounded-0 px-4 py-2 me-2 mb-2">
                            <p class="m-0">Blending</p>
                        </div>
                        <div class="card rounded-0 px-4 py-2 me-2 mb-2">
                            <p class="m-0">Creative</p>
                        </div>
                        <div class="card rounded-0 px-4 py-2 me-2 mb-2">
                            <p class="m-0">English</p>
                        </div>
                        <div class="card rounded-0 px-4 py-2 me-2 mb-2">
                            <p class="m-0">Movies</p>
                        </div>
                        <div class="card rounded-0 px-4 py-2 me-2 mb-2">
                            <p class="m-0">News</p>
                        </div>
                        <div class="card rounded-0 px-4 py-2 me-2 mb-2">
                            <p class="m-0">Online</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>